
    <optgroup label="AKADEMIK/PENDIDIKAN">
        <option value="Penyaluran lulusan">             Penyaluran lulusan</option>
        <option value="Beasiswa">                       Beasiswa</option>
        <option value="Gelar ganda (Dual Degree)">      Gelar ganda (Dual Degree)</option>
        <option value="Gelar bersama (Joint Degree)">   Gelar bersama (Joint Degree)</option>
        <option value="Pertukaran mahasiswa">           Pertukaran mahasiswa</option>
        <option value="Magang">                         Magang</option>
        <option value="Pertukaran dosen">               Pertukaran dosen</option>
        <option value="Transfer kredit">                Transfer kredit</option>
        <option value="Asistensi mengajar di satuan pendidikan- Kampus Merdeka">        Asistensi mengajar di satuan pendidikan- Kampus Merdeka</option>
        <option value="Kegiatan wirausaha – Kampus Merdeka">                            Kegiatan wirausaha – Kampus Merdeka</option>
        <option value="Magang/praktik kerja – Kampus Merdeka">                          Magang/praktik kerja – Kampus Merdeka</option>
        <option value="Membangun Desa / KKN tematik – Kampus Merdeka">                  Membangun Desa / KKN tematik – Kampus Merdeka</option>
        <option value="Pertukaran pelajar – Kampus Merdeka">                            Pertukaran pelajar – Kampus Merdeka</option>
        <option value="Proyek kemanusiaan – Kampus Merdeka">                            Proyek kemanusiaan – Kampus Merdeka</option>
        <option value="Studi/Proyek independen – Kampus Merdeka">                       Studi/Proyek independen – Kampus Merdeka</option>
    </optgroup>
    <optgroup label="PENDIDIKAN NON GELAR">
        <option value="Pengembangan kurikulum/ Program bersama">                        Pengembangan kurikulum/ Program bersama</option>
        <option value="Pelatihan dosen dan instruktur">                                 Pelatihan dosen dan instruktur</option>
        <option value="Pengembangan pusat penelitian dan pengembangan keilmuan">        Pengembangan pusat penelitian dan pengembangan keilmuan</option>
    </optgroup>
    <optgroup label="PENELITIAN">
            <option value="Penerbitan berkala ilmuah">                                          Penerbitan berkala ilmuah</option>
            <option value="Penyelenggaraan seminar/konferensi ilmiah hasil penelitian">         Penyelenggaraan seminar/konferensi ilmiah hasil penelitian</option>
            <option value="Pengembangan sistem / produk">                                       Pengembangan sistem / produk</option>
            <option value="Penelitian bersama – artikel / jurnal ilmiah">                       Penelitian bersama – artikel / jurnal ilmiah</option>
            <option value="Penelitian bersama – paten / kekayaan intelektual">                  Penelitian bersama – paten / kekayaan intelektual</option>
            <option value="Penelitian bersama – prototipe / purwa rupa / teknologi tepat guna"> Penelitian bersama – prototipe / purwa rupa / teknologi tepat guna</option>
            <option value="Visiting professor">                                                 Visiting professor</option>
            <option value="Penelitian bersama">                                                 Penelitian bersama</option>
            <option value="Penelitian bersama – desain /karya seni / rekayasa social">          Penelitian bersama – desain /karya seni / rekayasa social</option>
            <option value="Penelitian bersama – produk rekomendasi kebijakan">                  Penelitian bersama – produk rekomendasi kebijakan</option>
            <option value="Penelitian bersama – infrastruktur">                                 Penelitian bersama – infrastruktur</option>
            <option value="Penelitian bersama – jumlah mobilitas mahasiswa / dosen / peneliti internasional">   Penelitian bersama – jumlah mobilitas mahasiswa / dosen / peneliti internasional</option>
            <option value="Penelitian / riset – Kampus Merdeka">                                                Penelitian / riset – Kampus Merdeka</option>
            <option value="Sitasi per dosen sesuai ketentuan yang berlaku">                                     Sitasi per dosen sesuai ketentuan yang berlaku</option>
            <option value="Pemakalah forum ilmiah dan makalah terpublikasi dalam proceding terindeks buku ajar / teks / modul ber ISBN">Pemakalah forum ilmiah dan makalah terpublikasi dalam proceding terindeks buku ajar / teks / modul ber ISBN</option>
            <option value="Keynote speaker / invited dalam temu ilmiah">                                        Keynote speaker / invited dalam temu ilmiah</option>
    </optgroup>
    <optgroup label="PENGABDIAN KEPADA MASYARAKAT">
            <option value="Publikasi jurnal nasional terakreditasi / internasional bereputasi">Publikasi jurnal nasional terakreditasi / internasional bereputasi</option>
            <option value="Sitasi per dosen sesuai ketentuan yang berlaku">                    Sitasi per dosen sesuai ketentuan yang berlaku</option>
            <option value="Artikel di media masa cetak  / elektronik">                         Artikel di media masa cetak  / elektronik</option>
            <option value="Pemakalah forum ilmiah dan makalah terpublikasi dalam proceding terindeks">Pemakalah forum ilmiah dan makalah terpublikasi dalam proceding terindeks</option>
            <option value="Buku ajar / teks / modul ber ISBN">                         Buku ajar / teks / modul ber ISBN</option>
            <option value="Keynote speaker / invited dalam temu ilmiah">               Keynote speaker / invited dalam temu ilmiah</option>
            <option value="Visiting lecturer pada perguruan tinggi mitra luar negeri"> Visiting lecturer pada perguruan tinggi mitra luar negeri</option>
            <option value="PKM – paten / kekayaan intelektual">                        PKM – paten / kekayaan intelektual</option>
            <option value="PKM – prototype / kekayaan intelektual">                    PKM – prototype / kekayaan intelektual</option>
            <option value="PKM – Desain / karya senin / rekayasa social">              PKM – Desain / karya senin / rekayasa social</option>
            <option value="PKM – Produk rekomendasi kebijaksanaan">                    PKM – Produk rekomendasi kebijaksanaan</option>
            <option value="PKM – Infrastruktur">                                       PKM – Infrastruktur</option>
            <option value="PKM – Jumlah mobilitas mahasiswa / dosen / peneliti internasional">PKM – Jumlah mobilitas mahasiswa / dosen / peneliti internasional</option>
            <option value="PKM – Luaran yang mendukung IKU">PKM – Luaran yang mendukung IKU</option>
    </optgroup>
    <optgroup label="LAIN - LAIN">
            <option value="Sewa asset">Sewa asset</option>
            <option value="Sponsor">    Sponsor</option>
            <option value="Hibah asset">Hibah asset</option>
    </optgroup>

