<select name="dt[klasifikasi_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true"><option>- Pilih Klasifikasi Surat -</option> <optgroup label="00  - Organisasi"><option value="42">00.00  - Statuta, Anggaran Dasar (AD)/ Anggaran Rumah Tangga (ART). Dokumen yang terkait dengan penyusunan dan pengesahan statuta, AD, dan ART.</option><option value="43">00.01  - Struktur Tugas dan Fungsi Organisasi. Dokumen yang terkait dengan  struktur, tugas, dan fungsi organisasi terdiri atas:
1). pembentukan; 
2). pengubahan; 
3). pembubaran; dan 
4). dokumen lain yang sesuai.</option><option value="44">00.02  - Penghargaan Unit/ Lembaga/ Organisasi. Dokumen yang terkait dengan penghargaan unit/ lembaga/ organisasi terdiri atas: 
1). sertifikat; 
2). piagam penghargaan; dan 
3). dokumen lain yang sesuai.</option></optgroup> <optgroup label="01  - Tata Laksana"><option value="46">01.00  - Sistem dan Prosedur Kerja. Dokumen yang berkaitan dengan sistem dan prosedur kerja.</option><option value="47">01.01  - Pembakuan Sarana Kerja. Dokumen yang berkaitan dengan pembakuan sarana kerja.</option><option value="48">01.02  - Kajian/ Analisis Jabatan/ Analisis Manajemen serta Penyuluhan Ketatalaksanaan. Dokumen yang berkaitan dengan kajian/ analisis jabatan/ analisis manajemen serta penyuluhan ketatalaksanaan terdiri atas: 
1). analisis organisasi; 
2). uraian jabatan; 
3). beban kerja; dan 
4). dokumen lain yang sesuai.</option><option value="49">01.03  - Standar Kompetensi Jabatan. Dokumen yang berkaitan dengan standar kompetensi jabatan struktural maupun fungsional.</option><option value="50">01.04  - Evaluasi dan Laporan Kinerja. Dokumen yang berkaitan dengan evaluasi dan laporan kinerja terdiri atas: 
1). laporan tahunan; 
2). laporan tengah tahunan; 
3). laporan triwulan; 
4). laporan bulanan; 
5). laporan insidental; 
6). laporan monitoring dan evaluasi program; dan 
7). dokumen lain yang sesuai.</option></optgroup> <optgroup label="02  - Rapat Kerja"><option value="52">02.00  - Rapat Kerja Universitas. Dokumen yang berkaitan dengan rapat kerja universitas terdiri atas: 
1). undangan; 
2). daftar hadir; 
3). notula; dan 
4). dokumen lain yang sesuai.</option><option value="53">02.01  - Rapat Pimpinan. Dokumen yang berkaitan dengan rapat pimpinan terdiri atas: 
1). undangan; 
2). daftar hadir; dan 
3). notula; dan 
4). dokumen lain yang sesuai.</option><option value="54">02.02  - Rapat Senat. Dokumen yang berkaitan dengan rapat senat terdiri atas: 
1). undangan; 
2). daftar hadir; dan 
3). notula; dan 
4). dokumen lain yang sesuai.</option><option value="55">02.03  - Rapat Fakultas/ Unit Kerja. Dokumen yang berkaitan dengan rapat kerja fakultas/ unit kerja Dokumen yang berkaitan dengan rapat kerja fakultas/ unit kerja terdiri atas: 
1). undangan; 
2). daftar hadir; dan 
3). notula; dan 
4). dokumen lain yang sesuai.</option><option value="56">02.04  - Rapat Koordinasi. Dokumen yang berkaitan dengan rapat koordinasi terdiri atas: 
1). undangan; 
2). daftar hadir; dan 
3). notula; dan 
4). dokumen lain yang sesuai.</option></optgroup><option value="57">03  - Internalisasi Reformasi Birokrasi. Dokumen yang berkaitan dengan pelaksanaan internalisasi reformasi birokrasi.</option></select>
