<select name="dt[klasifikasi_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true"><option>- Pilih Klasifikasi Surat -</option> <optgroup label="00  - Pokok-Pokok Kebijakan dan Strategi Pembangunan"><option value="2">00.00  - Rencana Pembangunan Jangka Panjang (RPJP)/ Masterplan Bidang Pendidikan dan Rencana Induk Pengembangan Kampus (RIPK). Dokumen yang berkaitan dengan RPJP bidang pendidikan dan RIPK.</option><option value="3">00.01  - Rencana Pembangunan Jangka Menengah (RPJM) Bidang Pendidikan Rencana Strategis</option><option value="4">00.02  - Rencana Operasional. Dokumen yang berkaitan dengan rencana operasional.</option><option value="5">00.03  - Program Kerja Tahunan. Dokumen yang berkaitan dengan program kerja tahunan, terdiri atas:  
1). usulan program unit kerja tahunan beserta data pendukung; 
2). program kerja tahunan unit kerja; dan 
3). program kerja tahunan UGM; dan 
4). dokumen lain yang sesuai.</option><option value="6">00.04  - Penetapan/ Kontrak Kinerja. Dokumen yang berkaitan dengan penetapan/ kontrak kinerja, terdiri atas:  
1). penetapan oleh pimpinan unit kerja; dan 
2). penetapan oleh rektor; dan 
3). dokumen lain yang sesuai.</option></optgroup></select>
