<select name="dt[klasifikasi_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true"><option>- Pilih Klasifikasi Surat -</option><option value="58">00  - Administrasi Pengendalian Surat. Dokumen yang berkaitan dengan administrasi pengendalian surat, terdiri atas: 
1). agenda pencatatan surat; 
2). kendali surat; dan 
3). ekspedisi surat.</option> <optgroup label="01  - Penyimpanan dan Pemeliharaan Arsip"><option value="60">01.00  - Daftar Arsip. Dokumen yang berkaitan dengan penyimpanan arsip, terdiri atas: 
1). daftar berkas; dan 
2). daftar isi berkas.</option><option value="61">01.01  - Pemeliharaan Arsip. Dokumen yang berkaitan dengan pemeliharaan arsip, terdiri atas: 
1). rencana pemeliharaan arsip; 
2). berita acara alih media; dan 
3). daftar arsip yang dialih-mediakan.</option><option value="62">01.02  - Layanan Arsip Dinamis. Dokumen yang berkaitan dengan layanan arsip dinamis, terdiri atas: 
1). permohonan; 
2). isian formulir layanan; dan 
3). laporan.</option></optgroup> <optgroup label="02  - Penyusutan Arsip"><option value="64">02.00  - Pemindahan Arsip. Dokumen yang berkaitan dengan pemindahan arsip, terdiri atas: 
1). penilaian arsip; 
2). daftar arsip usul pindah; 
3). persetujuan pemindahan arsip; dan 
4). berita acara pemindahan arsip beserta daftar arsip pindah.</option><option value="65">02.01  - Pemusnahan Arsip. Dokumen yang berkaitan dengan pemusnahan arsip, terdiri atas: 
1). pembentukan tim; 
2). penilaian arsip; 
3). daftar arsip usul musnah; 
4). usul pemusnahan arsip; 
5). rekomendasi/ pertimbangan pemusnahan arsip; 
6). persetujuan/ penetapan pemusnahan arsip; dan 
7). berita acara pemusnahan arsip beserta daftar arsip musnah.</option><option value="66">02.02  - Penyerahan Arsip. Dokumen yang berkaitan dengan penyerahan arsip, terdiri atas: 
1). penilaian arsip; 
2). daftar arsip usul serah; 
3). monitoring fisik arsip; 
4). penetapan arsip statis; 
5). persetujuan penyerahan arsip; dan 
6). berita acara penyerahan arsip beserta daftar arsip serah.</option></optgroup></select>
