<select name="dt[klasifikasi_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true">
    <option>- Pilih Klasifikasi Surat -</option>
    <option value="611">00 - Audit Mutu Akademik Internal. Dokumen yang berkaitan dengan audit mutu akademik internal,
        terdiri atas: 1). instrumen audit; 2). borang audit; 3). hasil audit; 4). laporan; 5). tindak lanjut hasil
        audit; dan 6). dokumen lain yang sesuai.</option>
    <option value="612">01 - Audit Mutu Akademik Eksternal. Dokumen yang berkaitan dengan audit mutu akademik eksternal,
        terdiri atas: 1). instrumen audit; 2). borang audit; 3). hasil audit; 4). laporan; 5). tindak lanjut hasil
        audit; dan 6). dokumen lain yang sesuai.</option>
    <optgroup label="02  - Akreditasi">
        <option value="614">02.00 - Akreditasi Nasional. Dokumen yang berkaitan dengan akreditasi nasional meliputi
            akreditasi fakultas, jurusan, program studi, terdiri atas: 1). borang; dan 2). surat keputusan penetapan
            akreditasi dari badan akreditasi nasional-perguruan tinggi.</option>
        <option value="615">02.01 - Akreditasi Internasional. Dokumen yang berkaitan dengan akreditasi internasional,
            terdiri atas: 1). borang; dan 2). surat keputusan penetapan akreditasi.</option>
    </optgroup>
    <optgroup label="03  - Sertifikasi">
        <option value="617">03.00 - Sertifikasi Nasional. Dokumen yang berkaitan dengan sertifikasi nasional, terdiri
            atas: 1). portofolio; dan 2). sertifikat.</option>
        <option value="618">03.01 - Sertifikasi Internasional. Dokumen yang berkaitan dengan sertifikasi internasional,
            terdiri atas: 1). portofolio; dan 2). sertifikat.</option>
    </optgroup>
</select>