<select name="dt[klasifikasi_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true">
    <option>- Pilih Klasifikasi Surat -</option>
    <optgroup label="00  - Majelis Wali Amanat (MWA)">
        <option value="620">00.00 - Peraturan/ Surat Keputusan MWA. Dokumen yang berkaitan dengan peraturan/ surat
            keputusan
            MWA, terdiri atas: 1). usulan; dan 2). surat keputusan MWA.</option>
        <option value="621">00.01 - Rapat MWA. Dokumen yang berkaitan dengan rapat MWA, terdiri atas: 1). undangan; 2).
            daftar hadir; dan 3). notula.</option>
        <option value="622">00.02 - Pemilihan Rektor. Dokumen yang berkaitan dengan pemilihan rektor, terdiri atas: 1).
            pembentukan tim/ panitia; 2). tata cara pemilihan; 3). persyaratan; 4). pengumuman; 5). berkas pendaftaran;
            6).
            data bakal calon; 7). hasil seleksi administrasi; 8). berkas kampanye; 9). berkas pemilihan; 10). berita
            acara
            pemilihan; 11). penetapan rektor terpilih; dan 12). dokumen lain yang sesuai.</option>
        <option value="623">00.03 - Data Anggota MWA. Dokumen yang berkaitan dengan data anggota MWA, terdiri atas: 1).
            daftar anggota MWA; 2). biodata anggota MWA; dan 3). dokumen lain yang sesuai.</option>
    </optgroup>
    <optgroup label="01  - Senat Akademik">
        <option value="625">01.00 - Peraturan/ Surat Keputusan Senat Akademik. Dokumen yang berkaitan dengan peraturan/
            surat keputusan senat akademik, terdiri atas: 1). usulan; 2). surat keputusan senat akademik; dan 3).
            dokumen
            lain yang sesuai.</option>
        <option value="626">01.01 - Rapat Senat Akademik. Dokumen yang berkaitan dengan rapat senat akademik, terdiri
            atas:
            1). undangan; 2). daftar hadir; 3). notula; dan 4). dokumen lain yang sesuai.</option>
        <option value="627">01.02 - Penyusunan Kode Etik. Dokumen yang berkaitan dengan penyusunan kode etik, terdiri
            atas:
            1). pembentukan komisi; 2). draf; 3). notula pembahasan; 4). penetapan; dan 5). dokumen lain yang sesuai.
        </option>
        <option value="628">01.03 - Pemberian Gelar Doktor Honoris Causa (HC). Dokumen yang berkaitan dengan pemberian
            gelar
            Doktor HC, terdiri atas: 1). usulan; 2). pembahasan; 3). penetapan; 4). ijazah; 5). naskah pidato promotor;
            6).
            naskah pidato promovendus; dan 7). dokumen lain yang sesuai.</option>
        <option value="629">01.04 - Dewan Kehormatan Universitas (DKU). Dokumen yang berkaitan dengan DKU.</option>
        <option value="630">01.05 - Izin Pembukaan/ Penggabungan/ Pembubaran/ Penggantian Nama Fakultas, Departemen,
            Bagian,
            Jurusan/ Program Studi (Prodi). Dokumen yang berkaitan dengan izin pembukaan fakultas, departemen, bagian,
            jurusan/ prodi, terdiri atas: 1). usulan; 2). pembahasan; 3). penetapan; dan 4). dokumen lain yang sesuai.
        </option>
        <option value="631">01.06 - Data Anggota Senat Akademik. Dokumen yang berkaitan dengan data anggota senat
            akademik,
            terdiri atas: 1). daftar anggota senat; 2). biodata anggota senat; 3). dokumen lain yang sesuai.</option>
        <option value="632">01.07 - Pertimbangan Jabatan Fungsional Dosen. Dokumen yang berkaitan dengan pertimbangan
            jabatan fungsional dosen, terdiri atas: 1). usulan; 2). pembahasan; dan 3). penetapan.</option>
    </optgroup>
    <optgroup label="02  - Dewan Guru Besar (DGB)">
        <option value="634">02.00 - Peraturan/ Surat Keputusan DGB. Dokumen yang berkaitan dengan peraturan/ surat
            keputusan
            DGB, terdiri atas: 1). usulan; 2). pembahasan; dan 3). peraturan/ surat keputusan DGB.</option>
        <option value="635">02.01 - Rapat DGB. Dokumen yang berkaitan dengan rapat DGB, terdiri atas: 1). undangan; 2).
            daftar hadir; dan 3). notula.</option>
        <option value="636">02.02 - Pelaksanaan Kode Etik. Dokumen yang berkaitan dengan pelaksanaan kode etik.</option>
        <option value="637">02.03 - Pengukuhan Guru Besar. Dokumen yang berkaitan dengan pengukuhan guru besar, terdiri
            atas: 1). usulan; 2). notula pembahasan; 3). penetapan; 4). undangan; 5). daftar hadir; 6). pidato
            pengukuhan
            guru besar; 7). dokumentasi; dan 8). dokumen lain yang sesuai.</option>
        <option value="638">02.04 - Data Anggota Guru Besar. Dokumen yang berkaitan dengan data anggota guru besar,
            terdiri
            atas: 1). daftar anggota guru besar; 2). biodata anggota guru besar; dan 3). dokumen lain yang sesuai.
        </option>
        <option value="639">02.05 - Apresiasi Kepada Masyarakat. Dokumen yang berkaitan dengan apresiasi kepada
            masyarakat
            seperti UGM Award, Hamengku Buwono IX Award, terdiri atas: 1). usulan; 2). pembahasan; 3). penetapan; 4).
            piagam; 5). naskah sambutan/ pidato; 6). dokumentasi; dan 7). dokumen lain yang sesuai.</option>
    </optgroup>
    <optgroup label="03  - Komite Audit/ Dewan Audit">
        <option value="641">03.00 - Data Anggota Komite Audit. Dokumen yang berkaitan dengan data anggota komite audit,
            terdiri atas: 1). daftar anggota
            komite audit; 2). biodata anggota komite audit; dan 3). dokumen lain yang sesuai.</option>
        <option value="642">03.01 - Laporan Review Hasil Audit. Dokumen berupa laporan review hasil audit.</option>
        <option value="643">03.02 - Laporan Review Rencana Kerja dan Anggaran Tahunan (RKAT). Dokumen berupa laporan
            review RKAT.</option>
    </optgroup>
    <optgroup label="04  - Dewan Pengawas">
        <option value="645">04.00 - Peraturan/ Surat Keputusan Dewan Pengawas. Dokumen yang berkaitan dengan peraturan/
            surat keputusan dewan pengawas, terdiri atas: 1). usulan; dan 2). surat keputusan dewan pengawas.</option>
        <option value="646">04.01 - Rapat Dewan Pengawas. Dokumen yang berkaitan dengan notula/ risalah rapat dewan
            pengawas, terdiri atas: 1). undangan; 2). daftar hadir; dan 3). notula.</option>
        <option value="647">04.02 - Data Anggota Dewan Pengawas. Dokumen yang berkaitan dengan data anggota dewan
            pengawas,
            terdiri atas: 1). daftar anggota dewan pengawas; 2). biodata anggota dewan pengawas; dan 3). dokumen lain
            yang
            sesuai.</option>
        <option value="648">04.03 - Laporan Dewan Pengawas. Dokumen berupa laporan dewan pengawas.</option>
    </optgroup>
    <optgroup label="05  - Dewan Pertimbangan">
        <option value="650">05.00 - Peraturan/ Surat Keputusan Dewan Pertimbangan. Dokumen yang berkaitan dengan
            peraturan/
            surat keputusan dewan pertimbangan, terdiri atas: 1). usulan; dan 2). surat keputusan dewan pertimbangan.
        </option>
        <option value="651">05.01 - Rapat Dewan Pertimbangan. Dokumen yang berkaitan dengan rapat dewan pertimbangan,
            terdiri atas: 1). undangan; 2). daftar hadir; dan 3). Notula.</option>
        <option value="652">05.02 - Data Anggota Dewan Pertimbangan. Dokumen yang berkaitan dengan data anggota dewan
            pertimbangan, terdiri atas: 1). daftar anggota dewan pertimbangan; 2). biodata anggota dewan pertimbangan;
            dan
            3). dokumen lain yang sesuai.</option>
        <option value="653">05.03 - Laporan Dewan Pertimbangan. Dokumen berupa laporan dewan pertimbangan.</option>
</select>