<select name="dt[klasifikasi_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true">
    <option>- Pilih Klasifikasi Surat -</option>
    <option value="7">00 - Dokumentasi Hukum/ Produk Hukum Eksternal.Dokumen yang berkaitan dengan dokumentasi hukum/
        produk hukum eksternal, terdiri atas:
        1). undang-undang;
        2). peraturan pemerintah;
        3). peraturan presiden;
        4). keputusan presiden;
        5). instruksi presiden;
        6). peraturan bersama menteri;
        7). peraturan menteri;
        8). keputusan menteri;
        9). instruksi menteri;
        10). surat edaran menteri;
        11). surat edaran bersama menteri; dan
        12). dokumen lain yang sesuai.</option>
    <option value="8">01 - Peraturan Perundang-Undangan terkait UGM. Dokumen yang berkaitan dengan peraturan
        perundang-undangan terkait UGM, terdiri atas:
        1). undang-undang;
        2). peraturan pemerintah;
        3). peraturan presiden;
        4). keputusan presiden;
        5). instruksi presiden;
        6). peraturan bersama menteri;
        7). peraturan menteri;
        8). keputusan menteri;
        9). instruksi menteri;
        10). surat edaran menteri;
        11). surat edaran bersama menteri; dan
        12). dokumen lain yang sesuai.</option>
    <option value="9">02 - Peraturan Rektor. Dokumen yang berkaitan dengan penyusunan dan penetapan Peraturan Rektor
        UGM, terdiri atas:
        1). draf;
        2). pembahasan;
        3). penetapan; dan
        4). dokumen lain yang sesuai.</option>
    <option value="10">03 - Keputusan Rektor. Dokumen yang berkaitan dengan penyusunan dan penetapan Keputusan Rektor
        UGM, terdiri atas:
        1). draf;
        2). pembahasan;
        3). penetapan; dan
        4). dokumen lain yang sesuai.</option>
    <option value="11">04 - Instruksi Rektor. Dokumen yang berkaitan dengan penyusunan dan penetapan Instruksi Rektor
        UGM, terdiri atas:
        1). draf;
        2). pembahasan;
        3). penetapan; dan
        4). dokumen lain yang sesuai.</option>
    <option value="12">05 - Peraturan Dekan/ Direktur/ Ketua Lembaga. Dokumen yang berkaitan dengan penyusunan dan
        penetapan peraturan dekan/ direktur/ ketua lembaga di lingkungan UGM, terdiri atas:
        1). draf;
        2). pembahasan;
        3). penetapan; dan
        4). dokumen lain yang sesuai.</option>
    <option value="13">06 - Keputusan Dekan/ Direktur/ Ketua Lembaga. Dokumen yang berkaitan dengan penyusunan dan
        penetapan keputusan dekan/ direktur/ ketua lembaga di lingkungan UGM, terdiri atas:
        1). draf;
        2). pembahasan;
        3). penetapan; dan
        4). dokumen lain yang sesuai.</option>
    <option value="14">07 - Pedoman, Standar, Juklak, Juknis, dan Prosedur Tetap (Protap). Dokumen yang berkaitan dengan
        penyusunan dan penetapan pedoman, standar, juklak, juknis, dan protap, terdiri atas:
        1). draf;
        2). pembahasan;
        3). penetapan; dan
        4). dokumen lain yang sesuai.</option>
    <optgroup label="08  - MoU, Kontrak, Perjanjian Kerja Sama ">
        <option value="16">08.00 - Dalam Negeri. Dokumen yang berkaitan dengan MoU, kontrak, perjanjian kerja sama dalam
            negeri, terdiri atas:
            1). draf;
            2). pembahasan;
            3). penetapan; dan
            4). dokumen lain yang sesuai.</option>
        <option value="17">08.01 - Luar Negeri. Dokumen yang berkaitan dengan MoU, kontrak, perjanjian kerjasama luar
            negeri, terdiri atas:
            1). draf;
            2). pembahasan;
            3). penetapan; dan
            4). dokumen lain yang sesuai.</option>
    </optgroup>
    <optgroup label="09  - Sosialisasi/ Penyuluhan/ Pembinaan">
        <option value="19">09.00 - Sosialisasi. Dokumen yang berkaitan dengan sosialisasi hukum, terdiri atas:
            1). undangan;
            2). daftar hadir;
            3). materi;
            4). laporan; dan
            5). dokumen lain yang sesuai.</option>
        <option value="20">09.01 - Penyuluhan. Dokumen yang berkaitan dengan penyuluhan hukum, terdiri atas:
            1). undangan;
            2). daftar hadir;
            3). materi;
            4). laporan; dan
            5). dokumen lain yang sesuai.</option>
        <option value="21">09.02 - Pembinaan. Dokumen yang berkaitan dengan pembinaan hukum, terdiri atas:
            1). undangan;
            2). daftar hadir;
            3). materi;
            4). laporan; dan
            5). dokumen lain yang sesuai.</option>
    </optgroup>
    <optgroup label="10  - Bantuan/ Konsultasi/ Advokasi">
        <option value="23">10.00 - Pidana. Dokumen yang berkaitan dengan bantuan/ konsultasi/ advokasi hukum pidana,
            terdiri atas:
            1). permohonan;
            2). tindak lanjut;
            3). laporan; dan
            4). dokumen lain yang sesuai.</option>
        <option value="24">10.01 - Perdata. Dokumen yang berkaitan dengan bantuan/ konsultasi/ advokasi hukum perdata,
            terdiri atas:
            1). permohonan;
            2). tindak lanjut;
            3). laporan; dan
            4). dokumen lain yang sesuai.</option>
        <option value="25">10.02 - Tata Usaha Negara. Dokumen yang berkaitan dengan bantuan/ konsultasi/ advokasi hukum
            tata usaha negara, terdiri atas:
            1). permohonan;
            2). tindak lanjut;
            3). laporan; dan
            4). dokumen lain yang sesuai.</option>
        <option value="26">10.03 - Ketenagakerjaan. Dokumen yang berkaitan dengan bantuan/ konsultasi/ advokasi hukum
            ketenagakerjaan, terdiri atas:
            1). permohonan;
            2). tindak lanjut;
            3). laporan; dan
            4). dokumen lain yang sesuai.</option>
        <option value="27">10.04 - Internasional. Dokumen yang berkaitan dengan bantuan/ konsultasi/ advokasi hukum
            internasional, terdiri atas:
            1). permohonan;
            2). tindak lanjut;
            3). laporan; dan
            4). dokumen lain yang sesuai.</option>
        <option value="28">10.05 - Agama. Dokumen yang berkaitan dengan bantuan/ konsultasi/ advokasi hukum agama,
            terdiri atas:
            1). permohonan;
            2). tindak lanjut;
            3). laporan; dan
            4). dokumen lain yang sesuai.</option>
    </optgroup>
    <optgroup label="11  - Kasus/ Sengketa Hukum">
        <option value="30">11.01 - Pidana. Dokumen yang berkaitan dengan kasus/ sengketa pidana baik kejahatan maupun
            pelanggaran, terdiri atas:
            1). pengaduan;
            2). proses hukum; br&gt;
            3). penetapan hukum; dan br&gt;
            4). dokumen lain yang sesuai.</option>
        <option value="31">11.02 - Perdata. Dokumen yang berkaitan dengan kasus/ sengketa hukum perdata, terdiri atas:
            1). pengaduan;
            2). proses hukum; br&gt;
            3). penetapan hukum; dan br&gt;
            4). dokumen lain yang sesuai.</option>
        <option value="32">11.03 - Tata Usaha Negara. Dokumen yang berkaitan dengan kasus/ sengketa hukum tata usaha
            negara terdiri atas:
            1). permohonan;
            2). tindak lanjut;
            3). laporan; dan
            4). dokumen lain yang sesuai.</option>
        <option value="33">11.04 - Arbitrase. Dokumen yang berkaitan dengan kasus/ sengketa hukum arbitrase, terdiri
            atas:
            1). permohonan;
            2). tindak lanjut;
            3). laporan; dan
            4). dokumen lain yang sesuai.</option>
    </optgroup>
    <option value="34">12 - Perizinan. Dokumen yang berkaitan dengan perizinan, terdiri atas:
        1). permohonan;
        2). proses pembahasan; br&gt;
        3). pemberian izin/ penolakan; dan
        4). dokumen lain yang sesuai. </option>
    <optgroup label="13  - Sertifikasi dan Akreditasi Bidang Pendidikan">
        <option value="36">13.00 - Lembaga Pendidikan Formal. Dokumen yang berkaitan dengan sertifikasi dan akreditasi
            bidang pendidikan formal, terdiri atas:
            1). usulan;
            2). proses; dan
            3). penetapan.</option>
        <option value="37">13.01 - Lembaga Pendidikan Informal. Dokumen yang berkaitan dengan sertifikasi dan akreditasi
            bidang pendidikan informal, terdiri atas:
            1). usulan;
            2). proses; dan
            3). penetapan.</option>
        <option value="38">13.02 - Lembaga Pendidikan Nonformal. Dokumen yang berkaitan dengan sertifikasi dan
            akreditasi bidang pendidikan nonformal, terdiri atas:
            1). usulan;
            2). proses; dan
            3). penetapan.</option>
        <option value="39">13.03 - Dosen. Dokumen yang berkaitan dengan sertifikasi dan akreditasi dosen, terdiri atas:
            1). usulan;
            2). proses; dan
            3). penetapan.</option>
    </optgroup>
    <option value="40">14 - Doktrin/ Pendapat Pakar. Dokumen yang berkaitan dengan doktrin/ pendapat pakar.</option>
</select>