<select name="dt[klasifikasi_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true">
    <option>- Pilih Klasifikasi Surat -</option>
    <option value="366">00 - Kebutuhan Tenaga Pengajar/ Pendidik. Dokumen yang berkaitan dengan kebutuhan tenaga
        pengajar/ pendidik, terdiri atas: 1). pemetaan kebutuhan tenaga pengajar; 2). daftar usulan; dan 3). dokumen
        lain yang sesuai.</option>
    <option value="367">01 - Penetapan Tenaga Pengajar/ Pendidik. Dokumen yang berkaitan dengan penetapan tenaga
        pengajar/ pendidik.</option>
    <option value="368">02 - Kepakaran. Dokumen yang berkaitan dengan kepakaran, terdiri atas: 1). usulan kepakaran; 2).
        daftar kepakaran; 3). penetapan kompetensi bidang kepakaran; dan 4). dokumen lain yang sesuai.</option>
    <option value="369">03 - Rasio Dosen dengan Mahasiswa. Dokumen yang berkaitan dengan rasio dosen dengan mahasiswa,
        misalnya: data statistik.</option>
    <option value="370">04 - Daftar Hadir Mengajar. Dokumen yang berupa daftar hadir mengajar</option>
    <option value="371">05 - Pembimbing Akademik. Dokumen yang berkaitan dengan pembimbing akademik, terdiri atas: 1).
        usulan pembimbing akademik; 2). penetapan pembimbing akademik; dan 3). dokumen lain yang sesuai.</option>
    <option value="372">06 - Pembimbing/ Penguji Tugas Akhir. Dokumen yang berkaitan dengan pembimbing/ penguji tugas
        akhir, terdiri atas: 1). usulan pembimbing/ penguji tugas akhir; 2). penetapan pembimbing/ penguji tugas akhir;
        dan 3). dokumen lain yang sesuai.</option>
</select>