<select name="dt[klasifikasi_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true">
    <option>- Pilih Klasifikasi Surat -</option>
    <optgroup label="00  - Organisasi Teknologi Informasi (TI)">
        <option value="164">00.00 - Rencana Strategis TI. Dokumen yang berkaitan dengan rencana strategis TI.</option>
        <option value="165">00.01 - Enterprise Architecture. Dokumen yang berkaitan dengan enterprise architecture.
        </option>
        <option value="166">00.02 - Tata Kelola TI. Dokumen yang berkaitan dengan tata kelola TI.</option>
        <option value="167">00.03 - Perencanaan TI. Dokumen yang berkaitan dengan perencanaan TI.</option>
    </optgroup>
    <optgroup label="01  - Sistem Informasi">
        <option value="169">01.00 - Perencanaan dan Analisis Sistem. Dokumen yang berkaitan dengan perencanaan dan
            analisis sistem.</option>
        <option value="170">01.01 - Perancangan Sistem. Dokumen yang berkaitan dengan perancangan sistem</option>
        <option value="171">01.02 - Pembangunan dan Implementasi Sistem. Dokumen yang berkaitan dengan pembangunan dan
            implementasi sistem.</option>
        <option value="172">01.03 - Pemeliharaan Sistem Informasi. Dokumen yang berkaitan dengan pemeliharaan sistem
            informasi.</option>
        <option value="173">01.04 - Dokumentasi Sistem Informasi. Dokumen yang berkaitan dengan dokumentasi sistem
            informasi.</option>
    </optgroup>
    <optgroup label="02  - Manajemen Layanan TI">
        <option value="175">02.00 - Desain Strategi Layanan. Dokumen yang berkaitan dengan desain strategi layanan.
        </option>
        <option value="176">02.01 - Rancangan Layanan. Dokumen yang berkaitan dengan rancangan layanan.</option>
        <option value="177">02.02 - Transisi Layanan. Dokumen yang berkaitan dengan transisi layanan.</option>
        <option value="178">02.03 - Layanan Operasional. Dokumen yang berkaitan dengan layanan operasional.</option>
    </optgroup>
    <optgroup label="03  - Pengelolaan Data">
        <option value="180">03.00 - Tata Kelola Data. Dokumen yang berkaitan dengan tata kelola data.</option>
        <option value="181">03.01 - Pengelolaan Arsitektur Data. Dokumen yang berkaitan dengan pengelolaan arsitektur
            data.</option>
        <option value="182">03.02 - Pengembangan Data. Dokumen yang berkaitan dengan pengembangan data.</option>
        <option value="183">03.03 - Pengelolaan Pengoperasian Data. Dokumen yang berkaitan dengan pengelolaan
            pengoperasian data.</option>
        <option value="184">03.04 - Pengelolaan Keamanan Data. Dokumen yang berkaitan dengan pengelolaan keamanan data.
        </option>
        <option value="185">03.05 - Pengelolaan Kualitas Data. Dokumen yang berkaitan dengan pengelolaan kualitas data.
        </option>
        <option value="186">03.06 - Pencadangan (Backup) Data. Dokumen yang berkaitan dengan pencadangan (backup) data.
        </option>
    </optgroup>
    <optgroup label="04  - Pengolahan Data">
        <option value="188">04.00 - Perencanaan Pengolahan Data. Dokumen yang berkaitan dengan perencanaan pengolahan
            data.</option>
        <option value="189">04.01 - Persiapan Pengolahan Data. Dokumen yang berkaitan dengan persiapan pengolahan data.
        </option>
        <option value="190">04.02 - Pelaksanaan Pengolahan Data. Dokumen yang berkaitan dengan pelaksanaan pengolahan
            data.</option>
        <option value="191">04.03 - Monitoring dan Evaluasi Pengolahan Data. Dokumen yang berkaitan dengan monitoring
            dan evaluasi pengolahan data.</option>
    </optgroup>
    <optgroup label="05  - Jaringan dan Komunikasi">
        <option value="193">05.00 - Analisis Jaringan Komputer. Dokumen yang berkaitan dengan analisis jaringan
            komputer.</option>
        <option value="194">05.01 - Perancangan Jaringan Komputer. Dokumen yang berkaitan dengan perancangan jaringan
            komputer.</option>
        <option value="195">05.02 - Implementasi Jaringan Komputer. Dokumen yang berkaitan dengan implementasi jaringan
            komputer.</option>
        <option value="196">05.03 - Pemeliharaan Jaringan. Dokumen yang berkaitan dengan pemeliharaan jaringan.</option>
        <option value="197">05.04 - Keamanan Jaringan. Dokumen yang berkaitan dengan keamanan jaringan.</option>
    </optgroup>
    <optgroup label="06  - Manajemen Fasilitas TI">
        <option value="199">06.00 - Perencanaan Fasilitas TI. Dokumen yang berkaitan dengan perencanaan fasilitas TI.
        </option>
        <option value="200">06.01 - Pengoperasian dan Evaluasi Fasilitas TI. Dokumen yang berkaitan dengan pengoperasian
            dan evaluasi fasilitas TI.</option>
        <option value="201">06.02 - Pemeliharaan Fasilitas TI. Dokumen yang berkaitan dengan pemeliharaan fasilitas TI.
        </option>
    </optgroup>
    <optgroup label="07  - Audit TI">
        <option value="203">07.00 - Perencanaan Audit TI. Dokumen yang berkaitan dengan perencanaan audit TI.</option>
        <option value="204">07.01 - Tinjauan Awal Audit TI. Dokumen yang berkaitan dengan tinjauan awal audit TI.
        </option>
        <option value="205">07.02 - Analisis Data Audit TI. Dokumen yang berkaitan dengan analisis data audit TI.
        </option>
        <option value="206">07.03 - Evaluasi Temuan. Dokumen yang berkaitan dengan evaluasi temuan.</option>
    </optgroup>
    <optgroup label="08  - Manajemen Risiko TI">
        <option value="208">08.00 - Identifikasi Risiko TI. Dokumen yang berkaitan dengan identifikasi risiko TI.
        </option>
        <option value="209">08.01 - Penilaian Risiko TI. Dokumen yang berkaitan dengan penilaian risiko TI.</option>
        <option value="210">08.02 - Pengendalian Risiko TI. Dokumen yang berkaitan dengan pengendalian risiko TI.
        </option>
        <option value="211">08.03 - Pemantauan dan Evaluasi Penanganan Risiko TI. Dokumen yang berkaitan dengan
            pemantauan dan evaluasi penanganan risiko TI.</option>
    </optgroup>
    <option value="212">09 - Pemetaan TI. Dokumen yang berkaitan dengan pemetaan TI.</option>
</select>