<!-- <select name="dt[kode_surat_id]" class="form-control" onchange="get_nomor()" tabindex="-1" aria-hidden="true"> -->
    <select class="form-control" name="penandatangan_pegawai_id" onchange="get_nomor()">
        <option value="">- Pilih Penanda Tangan Surat -</option>
        <option value="63">Dekan [FMIPA] </option>
        <option value="64">Wakil Dekan Bidang Pendidikan, Pengajaran dan Kemahasiswaan [FMIPA.1.1] </option>
        <option value="65">Wakil Dekan Bidang Keuangan, Aset, dan Sumber Daya Manusia [FMIPA.1.2] </option>
        <option value="66">Wakil Dekan Bidang Penelitian dan Pengabdian kepada Masyarakat [FMIPA.1.3] </option>
        <option value="201">Wakil Dekan Bidang Alumni, Kerja Sama, dan Inovasi [FMIPA.1.4] </option>
        <option value="202">Ketua Departemen Fisika [FMIPA.2.1] </option>
        <option value="203">Ketua Departemen IKE [FMIPA.2.2] </option>
        <option value="204">Ketua Departemen Kimia [FMIPA.2.3] </option>
        <option value="205">Ketua Departemen Matematika [FMIPA.2.4] </option>
        <option value="206">Kepala Kantor Administrasi [FMIPA.3] </option>
    </select>
