<select name="dt[pengolah_surat_id]" class="form-control" onchange="get_nomor()"
    tabindex="-1" aria-hidden="true">
    <option value="">- Pilih Pengolah Surat -</option>
    <option value="133">Dekanat [DEK]</option>
    <option value="134">Bagian Keuangan [KEU]</option>
    <option value="135">Bagian Kepegawaian [KP]</option>
    <option value="136">Bagian Akademik dan Kemahasiswaan [AKD]</option>
    <option value="137">Bagian Tata Usaha [TU]</option>
    <option value="138">Departemen Fisika [FIS]</option>
    <option value="139">Departemen IKE [IKE]</option>
    <option value="140">Departemen Kimia [KIM]</option>
    <option value="141">Departemen Matematika [MAT]</option>
</select>